body{
  background-color: #0A090A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
.container{
  max-width: 1140px;
  margin: auto;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
.logo{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}
.search{
  display: flex;
  align-items: center;
  flex: 0.8;
}
.search-input{
  font-size: 14px;
  line-height: 16px;
  flex: 1;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  color: #AEAEAE;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AEAEAE;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AEAEAE;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #AEAEAE;
}
.search-button{
  background: transparent;
  border: none;
  padding: 10px 18px;
}
.user{
  display: flex;
  align-items: center;
}
.avatar{
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
